# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

pool:
  vmImage: ubuntu-latest

trigger:
 branches:
   include:
     - dev

stages:
  - stage: build_app_dev      
    displayName: Build Music app
    jobs:
      - job: run_py_app
        steps:
        - task: UsePythonVersion@0
          inputs:
            versionSpec: '3.x'
            addToPath: true
            architecture: 'x64'

        - script: |
              pip install -r requirements.txt
              python main.py
          displayName: Install and Run App

