trigger:
 branches:
   include:
     - dev

stages:
  - stage: build_app_dev      
    displayName: Build Music app
    jobs:
      - job: run_py_app
        steps:
        - task: UsePythonVersion@0
          inputs:
            versionSpec: '3.x'
            addToPath: true
            architecture: 'x64'

        - script: |
              pip install -r requirements.txt
          displayName: Install Dependencies

        - task: ArchiveFiles@1
          inputs:
                  rootFolder: '$(Build.BinariesDirectory)'
                  includeRootFolder: true
                  archiveType: 'default'
                  archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
                  replaceExistingArchive: true

        - task: AzureWebApp@1
          inputs:
            azureSubscription: 'azsvc'
            appType: 'webAppLinux'
            appName: 'musicappindia'
            package: '$(Build.ArtifactStagingDirectory)/**/*.zip'
            runtimeStack: 'PYTHON|3.13'
            startUpCommand: 'python main.py'